Sales Alert/Sales Alert.json
{
  "name": "Sales Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "=0 18 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        -208
      ],
      "id": "98131b0e-f311-4d9f-9ed7-b67d27d3c1be",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iCoWrhz47F7a1s8ioHmB3fGlf8Yj0yK1thGfuFjL-SU",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iCoWrhz47F7a1s8ioHmB3fGlf8Yj0yK1thGfuFjL-SU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1381980364,
          "mode": "list",
          "cachedResultName": "train",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iCoWrhz47F7a1s8ioHmB3fGlf8Yj0yK1thGfuFjL-SU/edit#gid=1381980364"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -80,
        -208
      ],
      "id": "0b49f69d-941b-449e-8b3d-18bfcc56d24b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WRlti8ZuukrdEzob",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Sum all Technology sales\nlet totalSales = 0;\n\n// Loop through all rows\nfor (const row of items) {\n  if (row.json.Category === \"Technology\") {\n    totalSales += parseFloat(row.json.Sales);\n  }\n}\n\n// Return a single item with total sales\nreturn [\n  {\n    json: {\n      totalTechSales: totalSales\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -208
      ],
      "id": "e84fcf3b-e940-499e-a427-d4d9afc56f01",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "44a8c1e1-44d7-492e-ba72-77e1cdfee9bf",
              "leftValue": "={{ $json.totalTechSales }}",
              "rightValue": 50000,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        -208
      ],
      "id": "30aaae7e-0b89-47ff-bfd5-477b9b8cc373",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "1982389908",
        "text": "=⚠️ Tech Sales Alert! Total Technology Sales: ${{$json[\"totalTechSales\"]}} Please check performance.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        -80
      ],
      "id": "5d543178-4fdc-43d2-af92-d8a42afc04ed",
      "name": "Send a text message",
      "webhookId": "33cdcabf-9f05-4389-8bb2-79cbc238946b",
      "credentials": {
        "telegramApi": {
          "id": "8cxTdHcuTZ3fdwvV",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "030bed0d-c73d-46b4-b220-6110ac567bd9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c1c92bbe3c539f6f99d0a44206d9f105f1dbb9c289367ebc220f4ae4965f6ef7"
  },
  "id": "hyrqAcdV36bWQirh",
  "tags": []
}